body {
    margin: 0;
    width: 100vw;
}

ul li {
    color: #000;
    display: inline;
    float: inherit;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 0;
    font-size: 20px;
    margin-bottom: 50px;
}

.name {
    color: #000;
    float: left;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 0;
    font-size: 20px;
}

.search {
    float: right;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border: 1px solid red;
}

.bg-image {
    display: block;
    border: 1px solid blue;
    width: 99vw;
}